<div class="m-5">
	<div class="table-responsive bg-white rounded border border-success p-2">
		<div >
			<h1 class="text-center">Attendances</h1>
		</div>
		<div class="m-3">
			<%= search_form_for @q, url: employee_attendances_path(@employee.user_id) do |form| %>
			<div class="row">
				<div class="col-3">
					<label>From</label>
					<%= form.date_field :timestamp_gteq %>
				</div>
				<div class="col-3">
					<label>To</label>
					<%= form.date_field :timestamp_lteq %>
				</div>
				<div class="col-3">
					<%= form.submit class: "btn btn-primary btn-sm"%>
				</div>
			</div>
			<% end %>
		</div>
		<h3 style="text-align: center;"><%= @employee.name%></h3>
		<div>
			<table class="table table-striped">
				<tr>
					<th>Time</th>
					<th>Status</th>
					<th>Punch</th>
					<th>Point</th>

				</tr>
				<% @attendances.each do |attendance| %>

				<div class="row">
					<tr>
						<td><%= attendance.timestamp %></td>
						<td><%= attendance.status %></td>
						<td><%= attendance.punch %></td>
						<td><%= attendance.point %></td>

					</tr>
				</div>
				<% end %>
			</table>
		</div>  
	</div>
	<div class="m-2">
		<%= paginate @attendances%>
	</div>
	<div class="container">
		<%=link_to "Back", employees_path, class: "btn btn-primary"%>
	</div>
</div>

